@font-face {
  font-family: "iconfont"; /* Project id 910429 */
  src: url('iconfont.woff2?t=1623813376742') format('woff2'),
       url('iconfont.woff?t=1623813376742') format('woff'),
       url('iconfont.ttf?t=1623813376742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h5-icon-shouye-xuanzhong:before {
  content: "\e772";
}

.h5-icon-wode5:before {
  content: "\e773";
}

.h5-icon-daili1:before {
  content: "\e76f";
}

.h5-icon-liwu4:before {
  content: "\e770";
}

.h5-icon-zaixiankefu3x:before {
  content: "\e771";
}

.h5-icon-zu25:before {
  content: "\e76a";
}

.h5-icon-zu28:before {
  content: "\e76b";
}

.h5-icon-zu27:before {
  content: "\e76c";
}

.h5-icon-zu29:before {
  content: "\e76d";
}

.h5-icon-zu30:before {
  content: "\e76e";
}

.h5-icon-cunkuan1:before {
  content: "\e6da";
}

.h5-icon-touzhujilu2:before {
  content: "\e6db";
}

.h5-icon-lujing:before {
  content: "\e6dc";
}

.h5-icon-kefu4:before {
  content: "\e72d";
}

.h5-icon-yonghu1:before {
  content: "\e72e";
}

.h5-icon-remen:before {
  content: "\e6d8";
}

.h5-icon-zhanneixin:before {
  content: "\e6d9";
}

.h5-icon-gonggao:before {
  content: "\e6d7";
}

.h5-icon-xiazai2:before {
  content: "\e6d4";
}

.h5-icon-huodong:before {
  content: "\e6d5";
}

.h5-icon-zuiai:before {
  content: "\e6d6";
}

.h5-icon-level-V111:before {
  content: "\e6ac";
}

.h5-icon-level-V12:before {
  content: "\e6ad";
}

.h5-icon-level-V13:before {
  content: "\e6ae";
}

.h5-icon-level-V15:before {
  content: "\e6af";
}

.h5-icon-level-V14:before {
  content: "\e6b0";
}

.h5-icon-level-V16:before {
  content: "\e6b1";
}

.h5-icon-level-V18:before {
  content: "\e6b2";
}

.h5-icon-level-V17:before {
  content: "\e6b3";
}

.h5-icon-level-V19:before {
  content: "\e6b4";
}

.h5-icon-level-V21:before {
  content: "\e6b5";
}

.h5-icon-level-V23:before {
  content: "\e6b6";
}

.h5-icon-level-V20:before {
  content: "\e6b7";
}

.h5-icon-level-V24:before {
  content: "\e6b8";
}

.h5-icon-level-V25:before {
  content: "\e6b9";
}

.h5-icon-level-V22:before {
  content: "\e6ba";
}

.h5-icon-level-V27:before {
  content: "\e6bb";
}

.h5-icon-level-V28:before {
  content: "\e6bc";
}

.h5-icon-level-V26:before {
  content: "\e6bd";
}

.h5-icon-level-V30:before {
  content: "\e6be";
}

.h5-icon-level-V31:before {
  content: "\e6bf";
}

.h5-icon-level-V29:before {
  content: "\e6c0";
}

.h5-icon-level-V33:before {
  content: "\e6c1";
}

.h5-icon-level-V34:before {
  content: "\e6c2";
}

.h5-icon-level-V32:before {
  content: "\e6c3";
}

.h5-icon-level-V36:before {
  content: "\e6c4";
}

.h5-icon-level-V35:before {
  content: "\e6c5";
}

.h5-icon-level-V38:before {
  content: "\e6c6";
}

.h5-icon-level-V39:before {
  content: "\e6c7";
}

.h5-icon-level-V37:before {
  content: "\e6c8";
}

.h5-icon-level-V41:before {
  content: "\e6c9";
}

.h5-icon-level-V40:before {
  content: "\e6ca";
}

.h5-icon-level-V42:before {
  content: "\e6cb";
}

.h5-icon-level-V43:before {
  content: "\e6cc";
}

.h5-icon-level-V44:before {
  content: "\e6cd";
}

.h5-icon-level-V45:before {
  content: "\e6ce";
}

.h5-icon-level-V46:before {
  content: "\e6cf";
}

.h5-icon-level-V48:before {
  content: "\e6d0";
}

.h5-icon-level-V47:before {
  content: "\e6d1";
}

.h5-icon-level-V49:before {
  content: "\e6d2";
}

.h5-icon-level-V50:before {
  content: "\e6d3";
}

.h5-icon-mimayincang:before {
  content: "\e6aa";
}

.h5-icon-guanbi1:before {
  content: "\e6ab";
}

.h5-icon-touzhujilu1:before {
  content: "\e6a7";
}

.h5-icon-gerenzhongxin:before {
  content: "\e6a4";
}

.h5-icon-kaijiangzoushi:before {
  content: "\e6a5";
}

.h5-icon-youxiguize:before {
  content: "\e6a6";
}

.h5-icon-zaixianchongzhi:before {
  content: "\e6a8";
}

.h5-icon-zaixiantikuan:before {
  content: "\e6a9";
}

.h5-icon-shishifanshui:before {
  content: "\e6a3";
}

.h5-icon-ziyuan6:before {
  content: "\e6a2";
}

.h5-icon-mima1:before {
  content: "\e69d";
}

.h5-icon-shoujihao:before {
  content: "\e69e";
}

.h5-icon-zhanghao1:before {
  content: "\e69f";
}

.h5-icon-yanzhengma1:before {
  content: "\e6a0";
}

.h5-icon-xianshimima:before {
  content: "\e6a1";
}

.h5-icon-level-V0:before {
  content: "\e661";
}

.h5-icon-shouye3:before {
  content: "\e65c";
}

.h5-icon-kefu3:before {
  content: "\e65d";
}

.h5-icon-wode4:before {
  content: "\e65e";
}

.h5-icon-touzhujilu:before {
  content: "\e65f";
}

.h5-icon-xinxi:before {
  content: "\e660";
}

.h5-icon-yanjingtubiao:before {
  content: "\e65b";
}

.h5-icon-shouyeicon:before {
  content: "\e65a";
}

.h5-icon-mima:before {
  content: "\e657";
}

.h5-icon-kaiqimima:before {
  content: "\e658";
}

.h5-icon-yonghu:before {
  content: "\e659";
}

.h5-icon-xinghao:before {
  content: "\e656";
}

.h5-icon-shouye2:before {
  content: "\e651";
}

.h5-icon-kefu2:before {
  content: "\e652";
}

.h5-icon-cunkuan:before {
  content: "\e653";
}

.h5-icon-wode3:before {
  content: "\e654";
}

.h5-icon-tuiguangzhuanqian:before {
  content: "\e655";
}

.h5-icon-lianjie:before {
  content: "\e64f";
}

.h5-icon-erweima1:before {
  content: "\e650";
}

.h5-icon-jiebei:before {
  content: "\e64e";
}

.h5-icon-mimabiyan:before {
  content: "\e646";
}

.h5-icon-mimayanjing-01:before {
  content: "\e647";
}

.h5-icon-dianhua:before {
  content: "\e648";
}

.h5-icon-mimasuo:before {
  content: "\e649";
}

.h5-icon-suo:before {
  content: "\e64a";
}

.h5-icon-yanzhengma:before {
  content: "\e64b";
}

.h5-icon-zhanghao:before {
  content: "\e64c";
}

.h5-icon-zhanghaotianjia:before {
  content: "\e64d";
}

.h5-icon-leijijisuan:before {
  content: "\e645";
}

.h5-icon-shishishouyi:before {
  content: "\e641";
}

.h5-icon-yuebao1:before {
  content: "\e642";
}

.h5-icon-suicunsuiqu:before {
  content: "\e643";
}

.h5-icon-yuebao:before {
  content: "\e640";
}

.h5-icon-ziyuan1:before {
  content: "\e63d";
}

.h5-icon-ziyuan:before {
  content: "\e63c";
}

.h5-icon-wodexuanzhong:before {
  content: "\e63a";
}

.h5-icon-wode2:before {
  content: "\e63b";
}

.h5-icon-bofang:before {
  content: "\e638";
}

.h5-icon-xiala-:before {
  content: "\e639";
}

.h5-icon-yongjin:before {
  content: "\e634";
}

.h5-icon-xiazai:before {
  content: "\e635";
}

.h5-icon-yongjin1:before {
  content: "\e636";
}

.h5-icon-xiazai1:before {
  content: "\e637";
}

.h5-icon-kefu:before {
  content: "\e62e";
}

.h5-icon-kefu1:before {
  content: "\e62f";
}

.h5-icon-wode:before {
  content: "\e630";
}

.h5-icon-shouye:before {
  content: "\e631";
}

.h5-icon-shouye1:before {
  content: "\e632";
}

.h5-icon-wode1:before {
  content: "\e633";
}

.h5-icon-acommnnew:before {
  content: "\e62a";
}

.h5-icon-acommisssnew:before {
  content: "\e62b";
}

.h5-icon-index-moneyb:before {
  content: "\e797";
}

.h5-icon-index-moneyhover:before {
  content: "\e796";
}

.h5-icon-index-money:before {
  content: "\e795";
}

.h5-icon-result-lose:before {
  content: "\e793";
}

.h5-icon-result-withdraw:before {
  content: "\e794";
}

.h5-icon-result-false:before {
  content: "\e78e";
}

.h5-icon-result-wait:before {
  content: "\e78f";
}

.h5-icon-result-win:before {
  content: "\e790";
}

.h5-icon-result-mid:before {
  content: "\e791";
}

.h5-icon-result-sum:before {
  content: "\e792";
}

.h5-icon-youhui:before {
  content: "\e69b";
}

.h5-icon-touzhu:before {
  content: "\e69c";
}

.h5-icon-icon-gonggao:before {
  content: "\e69a";
}

.h5-icon-fanyongbili1:before {
  content: "\e698";
}

.h5-icon-tuiguangjiaocheng:before {
  content: "\e699";
}

.h5-icon-fanyongbili:before {
  content: "\e697";
}

.h5-icon-fenxiang:before {
  content: "\e696";
}

.h5-icon-yejichaxun:before {
  content: "\e695";
}

.h5-icon-ximachaxun:before {
  content: "\e694";
}

.h5-icon-icon-yaohaoyou:before {
  content: "\e693";
}

.h5-icon-naozhon:before {
  content: "\e625";
}

.h5-icon-icon-sequence:before {
  content: "\e692";
}

.h5-icon-icon-xiala:before {
  content: "\e688";
}

.h5-icon-icon-search1:before {
  content: "\e689";
}

.h5-icon-icon-upordown:before {
  content: "\e68a";
}

.h5-icon-icon-subtract:before {
  content: "\e687";
}

.h5-icon-icon-plus:before {
  content: "\e686";
}

.h5-icon-icon-more-:before {
  content: "\e685";
}

.h5-icon-qingchu:before {
  content: "\e63e";
}

.h5-icon-icon-search:before {
  content: "\e690";
}

.h5-icon-icon-delete:before {
  content: "\e691";
}

.h5-icon-icon-new:before {
  content: "\e68c";
}

.h5-icon-icon-Collection:before {
  content: "\e68d";
}

.h5-icon-icon-caijinchisvg:before {
  content: "\e68e";
}

.h5-icon-icon-all:before {
  content: "\e68f";
}

.h5-icon-icon-hot:before {
  content: "\e68b";
}

.h5-icon-icon-xuanzhong:before {
  content: "\e683";
}

.h5-icon-sousuotubiao:before {
  content: "\e67b";
}

.h5-icon-icon-touzhujilu:before {
  content: "\e679";
}

.h5-icon-dailizhongxinshouye-icon-tuiguangkaihu:before {
  content: "\e676";
}

.h5-icon-dailishouye-icon-caiwubaobiao:before {
  content: "\e677";
}

.h5-icon-dailizhongxinshouye-icon-dailibaobiao:before {
  content: "\e678";
}

.h5-icon-xinfengkai:before {
  content: "\e622";
}

.h5-icon-xinfeng:before {
  content: "\e623";
}

.h5-icon-MONEY-f:before {
  content: "\e78d";
}

.h5-icon-userx:before {
  content: "\e66f";
}

.h5-icon-new-tuichux:before {
  content: "\e78c";
}

.h5-icon-h-f:before {
  content: "\e78b";
}

.h5-icon-icon-deposit-hover:before {
  content: "\e777";
}

.h5-icon-icon-iphone:before {
  content: "\e778";
}

.h5-icon-icon-realname:before {
  content: "\e779";
}

.h5-icon-icon-record:before {
  content: "\e77a";
}

.h5-icon-icon-username:before {
  content: "\e77b";
}

.h5-icon-icon-yzm:before {
  content: "\e77c";
}

.h5-icon-icon-record-hover:before {
  content: "\e77d";
}

.h5-icon-icon-enter-password:before {
  content: "\e77e";
}

.h5-icon-icon-index:before {
  content: "\e77f";
}

.h5-icon-icon-deposit:before {
  content: "\e780";
}

.h5-icon-icon-email:before {
  content: "\e781";
}

.h5-icon-icon-password:before {
  content: "\e782";
}

.h5-icon-icon-my:before {
  content: "\e783";
}

.h5-icon-icon-my-hover:before {
  content: "\e784";
}

.h5-icon-icon-index-hover:before {
  content: "\e785";
}

.h5-icon-icon-service-hover:before {
  content: "\e786";
}

.h5-icon-icon-service:before {
  content: "\e787";
}

.h5-icon-icon-wechat:before {
  content: "\e788";
}

.h5-icon-icon-trans-password:before {
  content: "\e789";
}

.h5-icon-icon-qq:before {
  content: "\e78a";
}

.h5-icon-guanbi:before {
  content: "\e769";
}

.h5-icon-index-share:before {
  content: "\e768";
}

.h5-icon-message:before {
  content: "\e767";
}

.h5-icon-sfk3:before {
  content: "\e764";
}

.h5-icon-wfk3:before {
  content: "\e766";
}

.h5-icon-person_total1:before {
  content: "\e765";
}

.h5-icon-pc-proxy-_:before {
  content: "\e757";
}

.h5-icon-pc-proxy-_1:before {
  content: "\e758";
}

.h5-icon-pc-proxy-_2:before {
  content: "\e759";
}

.h5-icon-pc-proxy-13:before {
  content: "\e75a";
}

.h5-icon-pc-proxy-_3:before {
  content: "\e75b";
}

.h5-icon-pc-proxy-_4:before {
  content: "\e75c";
}

.h5-icon-pc-proxy-_5:before {
  content: "\e75d";
}

.h5-icon-pc-proxy-_6:before {
  content: "\e75e";
}

.h5-icon-pc-proxy-_7:before {
  content: "\e75f";
}

.h5-icon-pc-proxy-_8:before {
  content: "\e760";
}

.h5-icon-pc-proxy-_9:before {
  content: "\e761";
}

.h5-icon-pc-proxy-_10:before {
  content: "\e762";
}

.h5-icon-pc-proxy-_11:before {
  content: "\e763";
}

.h5-icon-amsm:before {
  content: "\e755";
}

.h5-icon-xgsm:before {
  content: "\e756";
}

.h5-icon-pc-proxy-:before {
  content: "\e748";
}

.h5-icon-pc-proxy-1:before {
  content: "\e749";
}

.h5-icon-pc-proxy-2:before {
  content: "\e74a";
}

.h5-icon-pc-proxy-3:before {
  content: "\e74b";
}

.h5-icon-pc-proxy-4:before {
  content: "\e74c";
}

.h5-icon-pc-proxy-5:before {
  content: "\e74d";
}

.h5-icon-pc-proxy-6:before {
  content: "\e74e";
}

.h5-icon-pc-proxy-7:before {
  content: "\e74f";
}

.h5-icon-pc-proxy-8:before {
  content: "\e750";
}

.h5-icon-pc-proxy-9:before {
  content: "\e751";
}

.h5-icon-pc-proxy-10:before {
  content: "\e752";
}

.h5-icon-pc-proxy-11:before {
  content: "\e753";
}

.h5-icon-pc-proxy-12:before {
  content: "\e754";
}

.h5-icon-lotteary-pcdd-menu:before {
  content: "\e745";
}

.h5-icon-lottery-klsf-menu:before {
  content: "\e746";
}

.h5-icon-lottery-ssc-menu:before {
  content: "\e747";
}

.h5-icon-lottery-klsf:before {
  content: "\e742";
}

.h5-icon-lotteary-pcdd:before {
  content: "\e743";
}

.h5-icon-lottery-ssc:before {
  content: "\e744";
}

.h5-icon-lotteary-addmore:before {
  content: "\e741";
}

.h5-icon-lotteary-default:before {
  content: "\e740";
}

.h5-icon-lotteary-d:before {
  content: "\e739";
}

.h5-icon-lotteary-kl:before {
  content: "\e73a";
}

.h5-icon-lotteary-lhc:before {
  content: "\e73b";
}

.h5-icon-lotteary-pk:before {
  content: "\e73c";
}

.h5-icon-lotteary-pl:before {
  content: "\e73d";
}

.h5-icon-lotteary-x:before {
  content: "\e73e";
}

.h5-icon-lotteary-k:before {
  content: "\e73f";
}

.h5-icon-lotteary-d-menu:before {
  content: "\e730";
}

.h5-icon-lotteary-kl-menu:before {
  content: "\e732";
}

.h5-icon-lotteary-k-menu:before {
  content: "\e733";
}

.h5-icon-lotteary-x-menu:before {
  content: "\e734";
}

.h5-icon-lotteary-pl-menu:before {
  content: "\e735";
}

.h5-icon-lotteary-pk-menu:before {
  content: "\e736";
}

.h5-icon-lotteary-lhc-menu:before {
  content: "\e737";
}

.h5-icon-lotteary-all-menu:before {
  content: "\e738";
}

.h5-icon-left-menu-ico:before {
  content: "\e731";
}

.h5-icon-fanhui:before {
  content: "\e72f";
}

.h5-icon-wfsc:before {
  content: "\e72c";
}

.h5-icon-qushi-moreup:before {
  content: "\e72b";
}

.h5-icon-index-tips:before {
  content: "\e72a";
}

.h5-icon-new-index-mail:before {
  content: "\e724";
}

.h5-icon-new-index-phone:before {
  content: "\e725";
}

.h5-icon-new-index-weixin:before {
  content: "\e728";
}

.h5-icon-new-index-realname:before {
  content: "\e726";
}

.h5-icon-new-index-drawmoney:before {
  content: "\e729";
}

.h5-icon-new-index-qq:before {
  content: "\e727";
}

.h5-icon-delbet_icon:before {
  content: "\e722";
}

.h5-icon-hostory-list:before {
  content: "\e723";
}

.h5-icon-level-V10:before {
  content: "\e717";
}

.h5-icon-level-V11:before {
  content: "\e718";
}

.h5-icon-level-V8:before {
  content: "\e719";
}

.h5-icon-level-V1:before {
  content: "\e71a";
}

.h5-icon-level-V2:before {
  content: "\e71b";
}

.h5-icon-level-V9:before {
  content: "\e71c";
}

.h5-icon-level-V3:before {
  content: "\e71d";
}

.h5-icon-level-V6:before {
  content: "\e71e";
}

.h5-icon-level-V5:before {
  content: "\e71f";
}

.h5-icon-level-V7:before {
  content: "\e720";
}

.h5-icon-level-V4:before {
  content: "\e721";
}

.h5-icon-bank-add:before {
  content: "\e716";
}

.h5-icon-new-index-yqm:before {
  content: "\e715";
}

.h5-icon-new-index-user:before {
  content: "\e712";
}

.h5-icon-new-index-password:before {
  content: "\e713";
}

.h5-icon-new-index-yzm:before {
  content: "\e714";
}

.h5-icon-daili-list1:before {
  content: "\e711";
}

.h5-icon-betright-deposit:before {
  content: "\e70b";
}

.h5-icon-betright-list:before {
  content: "\e70c";
}

.h5-icon-betright-rules:before {
  content: "\e70d";
}

.h5-icon-betright-member:before {
  content: "\e70e";
}

.h5-icon-betright-record:before {
  content: "\e70f";
}

.h5-icon-betright-drawing:before {
  content: "\e710";
}

.h5-icon-foot-compare:before {
  content: "\e70a";
}

.h5-icon-daili-list:before {
  content: "\e703";
}

.h5-icon-Cal-odds:before {
  content: "\e704";
}

.h5-icon-level-number1:before {
  content: "\e705";
}

.h5-icon-level-form1:before {
  content: "\e706";
}

.h5-icon-member-list1:before {
  content: "\e707";
}

.h5-icon-open-account1:before {
  content: "\e708";
}

.h5-icon-money-list1:before {
  content: "\e709";
}

.h5-icon-shk3:before {
  content: "\e702";
}

.h5-icon-hubk3:before {
  content: "\e701";
}

.h5-icon-default:before {
  content: "\e6dd";
}

.h5-icon-bjsc:before {
  content: "\e6de";
}

.h5-icon-fcsd:before {
  content: "\e6df";
}

.h5-icon-gdklsf:before {
  content: "\e6e0";
}

.h5-icon-bjk3:before {
  content: "\e6e1";
}

.h5-icon-gxk3:before {
  content: "\e6e2";
}

.h5-icon-cqssc:before {
  content: "\e6e3";
}

.h5-icon-gsk3:before {
  content: "\e6e4";
}

.h5-icon-gd11x5:before {
  content: "\e6e5";
}

.h5-icon-jlk3:before {
  content: "\e6e6";
}

.h5-icon-gzk3:before {
  content: "\e6e7";
}

.h5-icon-jsk3:before {
  content: "\e6e8";
}

.h5-icon-hbk3:before {
  content: "\e6e9";
}

.h5-icon-jx11x5:before {
  content: "\e6ea";
}

.h5-icon-ahk3:before {
  content: "\e6eb";
}

.h5-icon-hnklsf:before {
  content: "\e6ec";
}

.h5-icon-kssc:before {
  content: "\e6ed";
}

.h5-icon-ksk3:before {
  content: "\e6ee";
}

.h5-icon-ksssc:before {
  content: "\e6ef";
}

.h5-icon-bjpcdd:before {
  content: "\e6f0";
}

.h5-icon-pl3:before {
  content: "\e6f1";
}

.h5-icon-sd11x5:before {
  content: "\e6f2";
}

.h5-icon-more:before {
  content: "\e6f3";
}

.h5-icon-kslhc:before {
  content: "\e6f4";
}

.h5-icon-sfssc:before {
  content: "\e6f5";
}

.h5-icon-tjssc:before {
  content: "\e6f6";
}

.h5-icon-shssl:before {
  content: "\e6f7";
}

.h5-icon-sh11x5:before {
  content: "\e6f8";
}

.h5-icon-ks11x5:before {
  content: "\e6f9";
}

.h5-icon-sfsc:before {
  content: "\e6fa";
}

.h5-icon-xjssc:before {
  content: "\e6fb";
}

.h5-icon-xglhc:before {
  content: "\e6fc";
}

.h5-icon-xyft:before {
  content: "\e6fd";
}

.h5-icon-shks:before {
  content: "\e6fe";
}

.h5-icon-xync:before {
  content: "\e6ff";
}

.h5-icon-wflhc:before {
  content: "\e700";
}

.h5-icon-next:before {
  content: "\e684";
}

.h5-icon-tent-money:before {
  content: "\e680";
}

.h5-icon-H-qushi:before {
  content: "\e63f";
}

.h5-icon-h-live:before {
  content: "\e644";
}

.h5-icon-win-close:before {
  content: "\e662";
}

.h5-icon-transfer-icon:before {
  content: "\e663";
}

.h5-icon-member-list:before {
  content: "\e664";
}

.h5-icon-level-number:before {
  content: "\e665";
}

.h5-icon-level-form:before {
  content: "\e666";
}

.h5-icon-open-account:before {
  content: "\e667";
}

.h5-icon-money-list:before {
  content: "\e668";
}

.h5-icon-about-us:before {
  content: "\e669";
}

.h5-icon-backwater:before {
  content: "\e66a";
}

.h5-icon-account-safe:before {
  content: "\e66b";
}

.h5-icon-acting-center:before {
  content: "\e66c";
}

.h5-icon-bet-record:before {
  content: "\e66d";
}

.h5-icon-change-skin:before {
  content: "\e66e";
}

.h5-icon-foot-customer:before {
  content: "\e670";
}

.h5-icon-changeskin-icon:before {
  content: "\e671";
}

.h5-icon-foot-my:before {
  content: "\e672";
}

.h5-icon-foot-home:before {
  content: "\e673";
}

.h5-icon-h-proxy:before {
  content: "\e674";
}

.h5-icon-foot-deposit:before {
  content: "\e675";
}

.h5-icon-clear-cache:before {
  content: "\e67a";
}

.h5-icon-message-icon:before {
  content: "\e67c";
}

.h5-icon-my-message:before {
  content: "\e67d";
}

.h5-icon-my-draw:before {
  content: "\e67e";
}

.h5-icon-my-deposit:before {
  content: "\e67f";
}

.h5-icon-personal-data:before {
  content: "\e681";
}

.h5-icon-tent-record:before {
  content: "\e682";
}

